/* style.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;

    top: 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 60px 20px;
    margin: 80px 0;
}

/* Home Section */
#home {
    text-align: center;
    background: #f4f4f4;
}

#home h1 {
    margin: 0;
}

#home button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* About Section */
#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Projects Section */
#projects {
    background: #f4f4f4;
}

.project {
    text-align: center;
    margin: 20px 0;
}

.project img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Skills Section */
#skills {
    text-align: center;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
}

/* Contact Section */
#contact {
    background: #f4f4f4;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#contact label {
    text-align: left;
}

#contact input, #contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    #about {
        flex-direction: column;
    }
}